{{#each this as |collections|}}

  <div data-id="{{_id}}" class="upload-body-table">
    <div class="card-body">
      <div class="">
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th scope="col">File Name</th>
              <th scope="col">File</th>
              <th scope="col">Tag</th>
              <th scope="col">Created At</th>
              <th scope="col">Updated At</th>
              <th scope="col">Update</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          {{#collections}}
          <tbody>
            <tr>
              <td>{{title}}</td>
              <td>{{key}}</td>
              <td>{{tag}}</td>
              <td>{{createdAt}}</td>
              <td>{{updatedAt}}</td>

              <td>
                <form class="update-collection" data-id="{{_id}}" data-url="{{url}}" data-user="{{user}}">
                  <input name="image[title]" type="text" placeholder="New Title" required>
                  <input name="image[tag]" type="text" placeholder="Tag">
                  <input type="submit" value="Update" class="tables-hover btn btn-secondary">
                </form>
              </td>
              <td>
                <a href="{{url}}" target="_blank">Download</a>
              </td>
              <td>
                <div class="delete-collection-1">
                  <button class="delete-collection tables-hover btn btn-secondary" data-id="{{_id}}">
                    Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>

          {{/collections}}
        </table>
      </div>

    </div>
  </div>

{{/each}}
