{{#each this as |collections|}}

{{#collections}}
  <div>
    <section data-id="{{_id}}">
      <p>collection ID: {{_id}}</p>
      <p>Title: {{title}}</p>
      <p>File: {{title}}{{file}}</p>
      <p>Date Created: {{createdAt}}</p>
      <p>Date Updated: {{updatedAt}}</p>
      <p>Tag: </p>


      <form class="update-collection">
        <legend>Update Title</legend>
        <input name="collection[title]" type="text" placeholder="New Title">
        <input type="submit">
      </form>

      <select id="tag-select"
      tag-'tag[tag]' class="hidden">
        <option value="Photo">Photo</option>
        <option value="PDF">PDF</option>
      </select>

      <!-- console.log('data-id','work?') -->
      <button class="btn btn-default delete-collection">Delete collection</button>
    </section>
  </div>
  {{/collections}}

{{/each}}
